.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-cover {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(249, 246, 246);
    margin-top: 2rem;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.184);
    padding: 1rem;
}

.log-logo span {
    font-size: 4rem;
    color: rgb(0, 149, 255);
}

form {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.log-userid{
    width: 70%;
}
.log-userpassword{
    width: 70%;
    margin-top: 1.2rem;
}
.log-userid input  {
    padding: 1.8vmin;
    border-radius: 15px;
    width: 100%;
    border: 1px solid rgb(0, 149, 255);
}
.log-user{
    width: 70%;
    margin-top:1rem;
}
.log-user input  {
    padding: 1.8vmin;
    border-radius: 15px;
    width: 100%;
    border: 1px solid rgb(0, 149, 255);
}
.log-user select {
    padding: 1.8vmin;
    border-radius: 15px;
    width: 100%;
    border: 1px solid rgb(0, 149, 255);
}
.log-userpassword input {
    padding: 1.8vmin;
    width: 100%;
    border-radius: 15px;

    border: 1px solid rgb(0, 149, 255);
}
.log-userid label{
    font-size: 1.2rem;
}
.log-userpassword label{
    font-size: 1.2rem;
}
.log-btn{
    width: 30%;
}

.log-botn {
    border-radius: 2rem;
    background-color: rgb(0, 149, 255);
    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
    color: white;
    padding: 1.8vmin;
    font-size: 1rem;
    border: none;
    margin-top: 1.2rem;
    width: 100%;
}
.dont-acc{
    margin-top: 1rem;
}
.dont-acc span{
    color:rgb(0, 149, 255);
}
.password-eye{
    position: absolute;
    right: 35%;
}
.cpassword-eye{
    position: absolute;
    right: 35%;

}
.loginpassword-eye{
    position: absolute;
    right: 45%;
    bottom: 45%;
}
.forget{
    text-align: right;
    cursor: pointer;
}
@media (max-width: 600px)  {
    .log-cover {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(249, 246, 246);
        margin-top: 2rem;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.184);
        padding: 1rem;
    }
}