.navigation{
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.184);
}
.cover-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
}
.logo{
    width: 30%;
}
.logo-img img{
width:25%
}
.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    cursor: pointer;
}
.input input{
    padding: 1.2vmin;
    width: 21vmax;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgb(224, 220, 220);
}
.searc-logo{
    padding: 0.8vmin;
    width: 10vmin;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(0, 149, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    color: white;
}
.others{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 18%;
    cursor: pointer;
}
.profile span{
    color: black;
    font-size: 2.2rem;
}
.add-cart span{
    color: black;
    font-size: 2.2rem;
}
.login-btn{
border-radius: 2rem;
background-color: rgb(0, 149, 255);
padding: 0.5rem 1.1rem 0.5rem 1.1rem;
color: white;
font-size: 1rem;
border: none;
}
.login-btn:hover{
    background-color: rgb(7, 67, 109);
}
.power{
    position: absolute;
    top: 3%;
    right:12% ;
    padding: 0.2rem 0.5rem;
    background-color: rgb(0, 149, 255);
    border-radius: 1rem;
    color: white;
}
@media (max-width: 700px) {
    .cover-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .logo-img img{
    width:55%
    }
    .profile span{
        color: black;
        font-size: 1.2rem;
    }
    .add-cart span{
        color: black;
        font-size: 1.2rem;
    }
    .input input{
        padding: 1.2vmin;
        width: 15vmax;

    }
    .searc-logo{
        padding: 0.8vmin;
        width: 5vmin;
       
    }
    .search{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        cursor: pointer;
    }
    .others{
        width: 100%;
    }
}
@media (max-width: 1250px){
    .power{
        position: absolute;
        top: 1%;
        right:11% ;
        padding: 0.2rem 0.5rem;
        background-color: rgb(0, 149, 255);
        border-radius: 1rem;
        color: white;
    }
}